<template>
 <div class="container">
    <div id="app" class="col-sm-10 col-sm-offset-1">
      <div class="card bg-success text-center">
        <div class="card-heading bg-success">
          <h3>Admin Panel</h3>
        </div>
        <div class="card-body bg-light">
          <div class="row">
            <div class="col-sm-4">
              <label for="#">Display Title</label>
              <input type="checkbox" v-model="displayTitle">
              <br>
              <label for="#">Display Add New Task</label>
              <input type="checkbox" v-model="displayAddTasks">
              <br>
              <label for="#">Display Task Stats</label>
              <input type="checkbox" v-model="displayTaskStatus">
            </div>
            <div class="col-sm-4">
              <label for="#">Display Tasks</label>
              <input type="checkbox" v-model="displayTasks">
              <br>
              <label for="#">Display Task Completion Progress Bar</label>
              <input type="checkbox" v-model="displayProgressBar">
            </div>
            <div class="col-sm-4">
              <label for="#">Change App Title</label>
              <input type="text" :value="Title" v-on:input="changeAppTitle">
            </div>
          </div>
        </div>
      </div>
      <br>

      <h1 v-if="displayTitle">{{ this.Title }}</h1>
      <div class="card bg-primary" v-if="displayAddTasks">
        <div class="card-heading">
          <h3 class="text-center">Add New Task</h3>
        </div>
        <div class="card-body bg-light">
          <form v-on:submit="addTask">
            <div class="row">
              <div class="col-sm-8">
                <input type="text" class="form-control" v-model="tasks.name">
              </div>
              <div class="col-sm-4">
                <input type="submit" class="btn btn-primary btn-block" value="Add">
              </div>
            </div>
          </form>
        </div>
      </div>
      <br>

      <div class="card bg-success" v-if="displayProgressBar">
        <div class="card-heading">
          <h3 class="text-center">Completion Progress Bar</h3>
        </div>
        <div class="card-body bg-light">
          <div class="row justify-content-md-center">
          
            <div class="col-sm-8 col-sm-offset-2">

              <div class="Progress bg-war ning">
                <div class="progress-bar bg-success" role="progressbar"
                  :style="{ width: percentageOfTasksCompleted + '%'} ">{{ Math.round(percentageOfTasksCompleted) }}%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="card bg-info" v-if="displayTaskStatus">
        <div class="card-heading">
          <h3 class="text-center">Tasks Statistics</h3>
        </div>
        <div class="card-body bg-light">
          <div class="row">
            <div class="col-sm-6">
              <p @mouseover="changeTotalTasks">Total Tasks: {{ tasks.length }}</p>
              <p @mouseover="changeLeftToDo">Task Left To Do: {{  leftToDo }}</p>
              <p @mouseover="changeCheckMarked">Check Marked Tasks: {{ checkMarkedTasks }}</p>
              <p @mouseover="changeDeletedTasks">Deleted Tasks: {{ this.deletedTasks }}</p>
            </div>
            <div class="col-sm-6">
              <h3>{{ displayTaskStatusText }}</h3>
              // eslint-disable-next-line
              <h3 style="padding: 10px;" v-bind:class="manageable" class="green">
                {{ leftToDo < 10 ? 'Manageable' : 'Tasks Overload' }}</h3>
            </div>
          </div>
        </div>
      </div>
      <br>

      <table class="table" v-if="displayTasks && tasks.length >0">
        <thead>
          <th>Check Mark Done</th>
          <th>Task Name</th>
          <th>Delete</th>
        </thead>
        <tbody>
          <tr v-for="task in tasks" :key="task.name">
            <td><input type="checkbox" v-model="task.done"></td>
            <td><span :class="{ taskDone: task.done }">{{ task.name }}</span></td>
            <td><button class="btn btn-danger btn-block" v-on:click="deleteTasks(task)">Delete</button></td>
          </tr>
        </tbody>
      </table>

      <h3 class="text-center" v-else>The tasks list has been hidden or there are no task</h3>
    </div>
  </div>

</template>
 <script>
    
      export default {
          name: "Apptodo",
          data(){
          return{
        Title: 'Todo Task List App',
        displayTitle: true,
        displayAddTasks: true,
        displayTaskStatus: false,
        displayTaskStatusText: 'Total Task: ',
        displayProgressBar: false,
        displayTasks: true,
        deletedTasks: 0,
        tasks: []
          }
      },
      methods: {
        changeAppTitle: function (event) {
          this.Title = event.target.value;


        },
        addTask: function (event) {
          event.preventDefault();

          if (this.tasks.name !== '' && this.tasks.name !== undefined) {
            this.tasks.push({
              name: this.tasks.name,
              done: false,
            });
          }
        },
        deleteTasks: function (task) {
          this.tasks.splice(this.tasks.indexOf(task), 1);
          this.deletedTasks++;
        },
        changeTotalTasks: function () {

          this.displayTaskStatusText = 'Total Tasks : '.concat(this.tasks.length)
          console.log(this.displayTaskStatusText)
        },
        changeLeftToDo: function () {
          this.displayTaskStatusText = 'Task Left To Do : '.concat(this.leftToDo);
        },
        changeCheckMarked: function () {
          this.displayTaskStatusText = 'Check Marked Tasks : '.concat(this.checkMarkedTasks);
        },
        changeDeletedTasks: function () {
          this.displayTaskStatusText = 'Delete Tasks : '.concat(this.deletedTasks);
        }
      },
      computed: {
        checkMarkedTasks: function () {
          let count = 0;
          for (let i = 0; i < this.tasks.length; ++i) {
            if (this.tasks[i].done == true) {
              count++;
            }
          }
          return count;
        },
        leftToDo: function () {
          return this.tasks.length - this.checkMarkedTasks;
        },
        displayTaskStatusView: function () {
          if (this.displayTaskStatusText == 'totalTasks') {
            return 'Total Tasks:' + this.tasks.length;
          } else if (this.displayTaskStatusText == 'leftToDo') {
            return 'Tasks Left ToDo: ' + this.leftToDo;
          } else if (this.displayTaskStatusText == 'CheckMarkedTasks') {
            return 'Check Marked Tasks: ' + this.checkMarkedTasks;
          } else if (this.displayTaskStatusText == 'deletedTasks') {
            return 'Deleted Tasks: ' + this.deletedTasks;
          }
          return " "
        },
        manageable: function () {
          if (this.leftToDo < 10) {
            return 'green';
          } else {
            return 'red';
          }
        },
        percentageOfTasksCompleted: function () {
          if (this.tasks.length == 0) {
            return 0;
          } else {
            return (this.checkMarkedTasks / this.tasks.length) * 100;
          }
        }
      }
      };
</script>
  <style>
  .completionProgressBar{
    background-color: lightskyblue;
}
.completionProgresssGreenBar{
    width: 80%;
    height: 30px;
    background-color: limegreen;
}
.green{
    background-color: springgreen;
}
.red{
    background-color: indianred;
}
.taskDone{
    text-decoration: line-through;
}
  </style>

