<template>
  <div id="app">
    
    <Apptodo/>

  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Apptodo from './components/Apptodo.vue'

export default {
  name: 'app',
  components: {
      Apptodo
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  margin-top: 60px;
}
</style>
